{# templates/new.html.twig #}

{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %} {{ form_name }} {% endblock %}

{% block body %}
    <h2>{{ form_name }}</h2>
    {{ form(form) }}
{% endblock %}